description = "Hero of other pages"
==
<header>
    <nav id="navigation-fixed">
        <ul id="navbar" class="clearfix">
            <div id="left">
                <li>
                    <a id="home" href="{{ 'home'|page }}"><img src="{{ 'assets/images/logo.png'|theme }}" alt="Logo open Belgium 2016"></a>
                    <a id="homeAlt" href="{{ 'home'|page }}"><img src="{{ 'assets/images/logo-black.png'|theme }}" alt="Logo open Belgium 2016"></a>
                </li>
            </div>
            <div id="right">
                <li><a class="nav" href="https://openbelgium16.eventbrite.nl">get tickets</a></li>
                <a href="" id="hamburger-menu-logo"><img src="{{ 'assets/images/hamburger.png'|theme }}" alt="hamburger menu"></a>
            </div>
            <div class="clearfix" id="center">
                <li><a class="nav" href="{{ 'programme'|page }}">programme</a></li>
                <li><a class="nav" href="{{ 'speakers'|page }}">speakers</a></li>
                <li><a class="nav" href="{{ 'blog'|page }}">blog</a></li>
                <li><a class="nav" href="{{ 'partners'|page }}">partners</a></li>
                <li><a class="nav" href="{{ 'about'|page }}">about</a></li>
            </div>
        </ul>
    </nav>
</header>

<div id="title">
    <h2>{{ this.page.meta_title }}</h2>
</div>
